body {
  font-size: 35px;
  font-weight: normal;
  font-family: Rockwell;
  color: #000000; /* black */
  text-align: left;
  background-color: #919E9D;

}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color:skyblue; /* blue */
  text-align: center;
  border: 3px solid skyblue;
  border-radius: 2em;
  box-shadow: 10px 10px 5px #888888;
  background-color: #FFFFFF;

}

h2{
  font-size: 40px;
  color: skyblue;


}

p{
  font-size:18px;
  font-family:Rockwell;
  color: White;
}
ol{
  font-size: 25px;
  font-family: Rockwell;
  color:SkyBlue;
}


ul{
  font-size: 20px;
  font-family: Rockwell;
  color: White;
}

a{
  color:white;
  font-family: Rockwell;
}
h3{
  color: skyblue;


}
